.bg-uzum{
    background-color: #7000ff;
}
.color-uzum{
    color: #7000ff;
}
.button {
    color: white;
    text-align: center;
    background: transparent;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button1 {
    color:  #7000ff;
    border: 1px solid  #7000ff;
}
.button1:hover {
    background-color:  #7000ff;
    color: #ffc107;
}